
/*fonts */
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/*Global styles*/

/*header styles*/
.logo-img {
  height: 70px;
}

.logo-wrapper {
  width: 50%;
}

.logo-text {
  font-family: "Satisfy", cursive;
  color: #f2767E; /*orange/pink highlught*/
}

.flex {
  display: flex;
  justify-content: space-between;
 align-items: flex-end;
}


/*Jumbotoron styles*/
.jumbotron {
  background-image: url("../img/hero.jpg");
  height:500px;
  background-size:cover;
  background-position: center;
}

.hero-text {
  color: #fff;
  font-weight: 400;
}

/*products styles*/
.thumbnail {
  padding: 7.5px;
  background-color: #EDF1F4;
}

.product-img {
  padding: 0px ;
}

footer {
  height: 2o0px;
  background-color:#333;
  padding: 10px 0px;
}
footer img.logo-img {
  width:120px;
}


.address-border {
  border-left: 1px solid #fff;
  border-right: 1px solid rgba(255,255,255, 0.1);
}


address {
  color: #fff;
}

address>a {
  color: #bfc0c1;

}

address>a:hover {
  color: #fff;
  text-decoration: none;
}

.dis-block {
  display:block;
  color: #bfc0c1;
}
.dis-block:hover{
  color:#fff;
}

.copyright {
  color: #505050;
}
